.segundaPagina{
	position: absolute;
	top: 5%;
	left: 30%;
	width: 65em;
	height: 22em;
}
#pregunta{
	font-family: GothamMedium;
	position: absolute;
	top:-.5em;
	left: 6em;
	color: black;
}
#texto1{
	font-family: GothamMedium;
	position: absolute;
	top:3em;
	left: 10%;
	color: black;
	width: 30em;
}
#texto2{
	font-family: GothamMedium;
	position: absolute;
	top:6em;
	left: 10%;
	color: black;
	width: 30em;
}
#texto3{
	font-family: GothamMedium;
	position: absolute;
	top:9em;
	left: 10%;
	color: black;
	width: 30em;
}
#texto4{
	font-family: GothamMedium;
	position: absolute;
	top:11em;
	left: 10%;
	color: black;
	width: 30em;
}
#texto5{
	font-family: GothamMedium;
	position: absolute;
	top: 6em;
	left: 15em;
	color: black;
}
#texto6{
	font-family: GothamMedium;
	position: absolute;
	top: 7em;
	left: 20em;
	color: black;
}