.terceraPagina{
	position: absolute;
	top: 5%;
	left: 10%;
	width: 50em;
	height: 22em;
	
}
.informes{
	position: absolute;
	top: 0;
	left: 0;
}
.correo{
	position: absolute;
	top: 7em;
	left: 0;
}
.locacion{
	position: absolute;
	top: 14em;
	left: 0;
}
#imgInformes{
	width: 5em;
}
#imgCorreo{
	padding-top: 1em;
	width: 5em;
}
#imgLocacion{
	width: 5em;
}
#texto7{
	font-family: GothamMedium;
	position: absolute;
	top:-.5em;
	left: 6em;
	color: black;
}
#texto8{
	font-family: GothamMedium;
	position: absolute;
	top:-.5em;
	left: 13em;
	color: black;
}
#texto9{
	font-family: GothamMedium;
	position: absolute;
	top:1em;
	left: 6em;
	color: black;
}
#texto10{
	font-family: GothamMedium;
	position: absolute;
	top:1em;
	left: 13em;
	color: black;
	width: 30em;
}
#texto11{
	font-family: GothamMedium;
	position: absolute;
	top: 4.5em;
	left: 6em;
	color: black;
}
#texto12{
	font-family: GothamMedium;
	position: absolute;
	top: 4.5em;
	left: 13em;
	color: black;
}
#texto13{
	font-family: GothamMedium;
	position: absolute;
	top: 6.4em;
	left: 6em;
	color: black;
}
#texto14{
	font-family: GothamMedium;
	position: absolute;
	top: 6.4em;
	left: 13em;
	color: black;
}

#texto15{
	font-family: GothamMedium;
	position: absolute;
	top: 10.8em;
	left: 6em;
	color: black;
}
#texto16{
	font-family: GothamMedium;
	position: absolute;
	top: 10.2em;
	left: 13em;
	color: black;
}
#texto17{
	font-family: GothamMedium;
	position: absolute;
	top: 11.2em;
	left: 13em;
	color: black;
}