#contenedorPrincipal{
	box-sizing: border-box;
  	width: 100%;
  	height: 100%;
  	background: #00a19a;
}

.divbar{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 5em;
	background: white;	
}
.contenidoPrincipal{
	box-sizing: border-box;
	position: absolute;
	top: 5em;
	left: 0;
	width:100%;
	height: 89%;
	background: #00a19a;
}
.footer{
	box-sizing: border-box;
	position: absolute;
	bottom: 0em;
	left: 0;
	width:100%;
	height: 4em;
	background: white;
	position: fixed;
}
#lifeSolution{
	box-sizing: border-box;
	width: 4em;
	height: 4em;
}
.logoLife{
	box-sizing: border-box;
	position: absolute;
	float: left;
	top: 0.75em;
	left: 2em;
	width: 21.5em;
	height: 3.5em;
	background: white;
	cursor: pointer;
}
.textoP{
	font-family: GothamBook;
	box-sizing: border-box;
	position: absolute;
	top: -.6em;
	left: 1.9em;
	color: #1D9CD8;
}
.menu{
	box-sizing: border-box;
	position: absolute;
	float: left;
	top: 0.75em;
	right: 5em;
	width: 21em;
	height: 3.5em;
	background: white;
}
.textoInicio{
	font-family: GothamBook;
	box-sizing: border-box;
	position: absolute;
	top: -.6em;
	left: .5em;
	color: #1D9CD8;
	cursor: pointer;	
}
.textoContacto{
	font-family: GothamBook;
	box-sizing: border-box;
	position: absolute;
	top: -.6em;
	left: 5em;
	color: black;	
	cursor: pointer;
}
.fondoDegradado{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 25em;
	background: white;
}
.degradado{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 25em;
	background: white;
	background: rgba(230,230,230,1);
	background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(230,230,230,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(230,230,230,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0 );
}
.banner{
	box-sizing: border-box;
	position: absolute;
	top: 25.1em;
	left: 0;
	width:100%;
	height: 13em;
	/*background: #1D9CD8;*/
	background: #00a19a;
}
#imgBanner{
	box-sizing: border-box;
	width: 100%;
	height: 14.5em;
}
#imgFacebook{
	position: absolute;
	top: 0.5em;
	left: 46%;
	box-sizing: border-box;
	width: 2.8em;
	height: 2.8em;
	cursor: pointer;
}
#imgTwitter{
	position: absolute;
	top: 0.5em;
	left: 52%;
	box-sizing: border-box;
	width: 2.8em;
	height: 2.8em;
	cursor: pointer;
}
.lifeSolution2{
	font-family: GothamMedium;
	position: absolute;
	top: 2.2em;
	left: 37.5%;
	width: 25.5%;
	color: white;
	text-shadow: 0.1em 0.1em 0.05em #848484; 
}
#celular{
	position: absolute;
	top: 8.5em;
	left: 10em;
	box-sizing: border-box;	
}
#imgCelular{
	box-sizing: border-box;
	width: 16.7em;
	height: 33.406em;
}
#googlePlay{
	position: absolute;
	top: 15.5em;
	left: 42.8%;
	box-sizing: border-box;	
}

#imgGooglePlay{
	box-sizing: border-box;
	width: 13.85em;
	height: 3.7em;
	cursor: pointer;
}
#descargaApp{
	font-family: Gothambook;
	position: absolute;
	top: 23em;
	left: 35%;
	width: 12em;
	height: 2.5em;
	text-align: center;
	box-sizing: border-box;	
	background: #1D9CD8;
	color: white;
	border-radius: .8em;
	display: table-cell;
    vertical-align: middle;
    padding-top: .7em;
    cursor: pointer;
}
#contactoDiv{
	font-family: GothamBook;
	position: absolute;
	top: 23em;
	right: 35%;
	width: 12em;
	height: 2.5em;
	box-sizing: border-box;
	text-align: center;	
	background: #EE7467;
	color: white;
	border-radius: .8em;
	display: table-cell;
    vertical-align: middle;
    padding-top: .7em;
    cursor: pointer;
}

#celular2{
	position: absolute;
	top: 6.5em;
	right: 10em;
	box-sizing: border-box;	
}
#imgCelular2{
	box-sizing: border-box;
	width: 17.642em;
	height: 23.614em;
}
.circuloCentro {
  position: absolute;
  left: 49.4%;
  top: 27em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 100em; 
	-webkit-border-radius: 100em; 
	-moz-border-radius: 100em; 
	-o-border-radius: 100em; 
	-ms-border-radius: 100em; 
  color: #036591;
  line-height: 500px;
  text-align: center;
  cursor: pointer;
}
.circuloIzquierdo {
  position: absolute;
  left: 46.4%;
  top: 27em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 100em; 
	-webkit-border-radius: 100em; 
	-moz-border-radius: 100em; 
	-o-border-radius: 100em; 
	-ms-border-radius: 100em; 
  color: #036591;
  line-height: 500px;
  text-align: center;
  cursor: pointer;
}
.circuloDerecho {
  position: absolute;
  right: 46.4%;
  top: 27em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 100em; 
	-webkit-border-radius: 100em; 
	-moz-border-radius: 100em; 
	-o-border-radius: 100em; 
	-ms-border-radius: 100em; 
  color: #036591;
  line-height: 500px;
  text-align: center;
  cursor: pointer;
}
.hide{
	visibility: hidden;
}
.show{
	visibility: visible;
}
.circSelec{
	background: grey;
}
.circNoSelec{
	background: #C4C4C4;
}